@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
<div class="container">
    <form method="post" asp-controller="Home" asp-action="Import" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Import from Excel</button>
    </form>
</div>
